

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
}

*{border: solid 1px red;}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
  &.flex-reverse{
    flex-flow: column-reverse;
  }
}

.flex-row{
  flex-direction: row;
  &.flex-reverse{
    flex-flow: row-reverse;
  }
}

.flex-row{
  flex-direction: row;
}

.flex-center{
  justify-content: center;
}

.flex-middle{
  align-items: center;
}

.flex-stretch{
  align-items: stretch;
}

.flex-1{
  flex-grow: 1;
}
.flex-2{
  flex-grow: 2;
}





.app{
  height: 500px;
  width: 300px;
  border: solid 2px green;

  & .screen{
    border: solid 1px blue;
  }
  & .buttons{
  }
}
